body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

button {
    font-size: 16px;
    width: 150px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: grey;
    color: white;
}

.grid-container {
    width: 1000px;
    height: 1000px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-cell {
    width: 10px;
    height: auto;
    flex: 1;
    box-sizing: border-box;
    border: 1px solid grey;
}