body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

header {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

button {
    font-size: 16px;
    width: 150px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.grid-container {
    width: 1000px;
    height: 1000px;
    display: flex;
    border: 2px solid black;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.grid-cell {
    flex: 1 1 30px;
    width: 30px;
    height: auto;
    border: 2px solid grey;
}